.containerDeviceImage {
    width: 120px;
    height: 120px;
}

.containerConnectionImage {
    width: 180px;
    height: 180px;
    margin-bottom: 10px;
}

#mainContainerAll {
    padding-top: 60px;
}