<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--====================Icon ====================-->
    <link rel="icon" type="ico" href="../Images/iconoWifi.ico">
    <!--====================Bootstrap Links ====================-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <!--====================Custom CSS Links ====================-->
    <link rel="stylesheet" type="text/css" href="../Styles/Templates.css">
    <link rel="stylesheet" type="text/css" href="../Styles/CustomStyles.css">
    <link rel="stylesheet" type="text/css" href="../Styles/help.css">
    <title>ConsuNet</title>
</head>

<body class="bg-body-secondary">
    <!--====================Start NavBar ====================-->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
            <h2 class="text-warning"><i class="bi bi-wifi me-2"></i>ConsuNet</h2>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#responsiveMenuNavbar" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="responsiveMenuNavbar">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="main.html">
                            <button class="btn btn-dark btn-outline-success btn-lg mx-1 my-1">
                                <i class="bi bi-router">
                                    Comenzar
                                </i>
                            </button>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="index.html">
                            <button class="btn btn-dark btn-outline-warning btn-lg mx-1 my-1">
                                <i class="bi bi-house">
                                    Inicio
                                </i>
                            </button>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--====================End NavBar ====================-->

    <!--====================Start home menu ====================-->
    <div class="flex">
        <section class="container">
            <h1></h1>
            <div class="tab">
                <input type="radio" name="abrir" id="acc1" />
                <label for="acc1">
                    <h2>01</h2>
                    <h3>¿Cómo usar ConsuNet?</h3>
                </label>
                <div class="content">
                    <p>
                        Para saber utilizar esta herramienta consulta el manual de usuario: 
                        <a href="https://drive.google.com/file/d/1js-KMc-zRWhDoax_a5cvH4FjGqMVTPwU/view?usp=sharing"
                            target="_blank" rel="noopener noreferrer">Manual de usuario de ConsuNet</a><br>
                        O bien visualiza el vídeo tutorial: 
                        <a href="https://drive.google.com/file/d/1y_DOt-1vS7Fe96qWZadAzQpJamb2lQr-/view?usp=sharing"
                            target="_blank" rel="noopener noreferrer">Tutorial sobre ConsuNet</a>
                    </p>
                    <p>
                        
                    </p>
                </div>
            </div>
            <div class="tab">
                <input type="radio" name="abrir" id="acc2" />
                <label for="acc2">
                    <h2>02</h2>
                    <h3>¿Tipos de conexiones?</h3>
                </label>
                <div class="content">
                    <p>
                        En la cotidianidad existen diversos tipos de conexiones, 
                        y estas no son más que el medio por el cual viaja la transmisión 
                        y recepción de datos, en este caso son estos datos
                        los que nos permiten conectarnos a internet. Ahora bien,
                        el material o el medio de la conexión afecta directamente 
                        la velocidad de nuestro internet, ConsuNet es un simulador 
                        de consumo pero es conveniente tener en cuenta siempre
                        este factor para realizar nuestro trabajo.<br>
                        Si deseas saber más sobre esto visita estos sitios:
                        <a href="https://www.tecnologia-informatica.com/tipos-conexion-internet/" 
                            target="_blank" rel="noopener noreferrer">Sobre las conexiones de internet</a>
                        o
                        <a href="https://www.redeszone.net/tutoriales/redes-cable/que-es-ancho-banda-velocidad-ping/" 
                            target="_blank" rel="noopener noreferrer">Sobre la velocidad de internet</a>
                    </p>
                </div>
            </div>
            <div class="tab">
                <input type="radio" name="abrir" id="acc3" />
                <label for="acc3">
                    <h2>03</h2>
                    <h3>¿Ancho de Banda?</h3>
                </label>
                <div class="content">
                    <p>
                        Ancho de banda: Cantidad de datos que se pueden transmitir en una conexión por
                        unidad de tiempo en un momento concreto. Este factor ayuda a determinar la calidad 
                        de  la velocidad de internet, cuanto más de este factor tengamos tendremos un internet
                        más veloz, pero eso también va ligado al factor de la tecnología que estemos usando,
                        Gigabit Ethernet es la más potente actualmente, al tener p. ej. 500 MB/s de ancho de 
                        banda con esta tecnología podremos transferir esos 500 sin problemas, sin embargo, 
                        con la tecnología Fast Ethernet (la más común cotidianamente) no tendremos una capacidad 
                        mayor a los 100 MB/s por transferencia, por tanto en base a ese factor no se aprovecharía 
                        toda la capacidad de la conexión.
                    </p>
                    <p>Si deseas leer más haz click en el siguiente enlace: 
                        <a href="https://www.redeszone.net/tutoriales/redes-cable/que-es-ancho-banda-velocidad-ping/" 
                            target="_blank" rel="noopener noreferrer">Más sobre ancho de banda</a>                   
                    </p>
                </div>
            </div>

        </section>

        <section class="container">
            <h1></h1>
            <div class="tab">
                <input type="radio" name="abrir" id="acc4" />
                <label for="acc4">
                    <h2>04</h2>
                    <h3>¿Consumo de internet?</h3>
                </label>
                <div class="content">
                    <p>
                        Siempre que navegues por Internet o utilices cualquier servicio que
                        necesite conexión, algo que debes tener presente es cuánto va a consumir.
                        Tal vez si te conectas en casa a través del router esto no sea tan importante,
                        pero sí puede serlo si navegas con datos móviles o por algún motivo quieres 
                        ahorrar Internet. Hay momentos en los que vamos a consumir más. Por ejemplo, no es lo mismo ver un vídeo en Streaming en alta definición que enviar un e-mail.<br>
                        Para más información visita este enlace: <a href="https://www.redeszone.net/tutoriales/redes-cable/consumo-uso-servicios-internet/" 
                            target="_blank" rel="noopener noreferrer"> Acerca del consumo de internet</a>
                    </p>
                </div>
            </div>
            <div class="tab">
                <input type="radio" name="abrir" id="acc5" />
                <label for="acc5">
                    <h2>05</h2>
                    <h3>¿Tipos de dispositivos?</h3>
                </label>
                <div class="content">
                    <p>
                        Existen diversos tipos de dispositivos los cuales
                        podemos conectar, ConsuNet te ofrece inicialmente
                        5 tipos de los más comunes, entre los cuales se encuentra:
                        Smartphone o teléfono celular,
                        Computadora de escritorio,
                        Laptop o computadora pórtatil,
                        Tablet o Tableta,
                        TV o SmartTV.<br>
                        Así mismo ConsuNet te permite agregar tus propios dispositivos.
                    </p>
                </div>
            </div>
            <div class="tab">
                <input type="radio" name="abrir" id="acc6" />
                <label for="acc6">
                    <h2>06</h2>
                    <h3>¿Actividades de consumo?</h3>
                </label>
                <div class="content">
                    <p>
                        Como sabemos, al tener acceso a un disposito
                        con el cual podamos conectarnos a internet,
                        podemos realizar muchas cosas, como podrían
                        ser, ver vídeos, jugar online, escuchar música,
                        navegar por la web, entre otras, cada una de estas
                        tiene una relación con nuestro ancho de banda y es que
                        cada una de ellas tiene diversas cantidades de datos que 
                        consumen, es decir, no es lo enviar un email a ver una
                        película en alta definición en NetFlix.<br>
                        Si deseas saber más sobre las actividades y el consumo de internet
                        así como ciertos valores de los mismos visita este enlace:
                        Para más información visita este enlace: <a href="https://www.redeszone.net/tutoriales/redes-cable/consumo-uso-servicios-internet/" 
                        target="_blank" rel="noopener noreferrer"> Cantidades de actividades de consumo</a>
                    </p>
                </div>
            </div>
        </section>
    </div>

    <!--====================End home menu ====================-->
    <!--==================== Bootstrap ====================-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <!--==================== SweetAlert2 ====================-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <!--==================== Javascript ====================-->
    <script src="../App/main.js"></script>
</body>

</html>